$color-dark-gray: #333;
$color-white: #eee;
$color-bg-cont: #555;

// grid bg item one two one two!
.grid-bg-itemone {
    background-color: #F9F9F9;
}
.grid-bg-itemtwo {
    background-color: #EFEFEF;
}