@import '../../theme/variables';

.Login {
  z-index: 280;
  position: absolute;
  color: $color-white;
  width: 100%;
  height: 100%;
  text-align: center;
}

.ContLogin {
  position: relative;
  background-color: $color-bg-cont;
  width: 90%;
  max-width: 400px;
  display: -webkit-inline-box;
  top: 150px;
}
